@use '../App.scss';

.docCard
{
    padding: var(--px-40);
    text-align: center;
    background-color: #f5f5f5;

    &__img img
    {
        border-radius: 50%;
    }

    &__content
    {
        margin-top: var(--px-25);

        & h3
        {
            margin-bottom: var(--px-15);
        }
    }
}