.footer
{
    padding: var(--px-30);
    background-color: lightcoral;

    & h3
    {
        margin-bottom: var(--px-25);
    }

    &__blog-item, &__contact-item
    {
        display: flex;
    }

    &__blog-item img
    {
        border-radius: 50%;
    }
}