@use '../App.scss';

.header
{
  margin: 0 auto;
  padding: 1rem 0;
  background-color: var(--color-primary);

  &__contact div
  {
    display: flex;
  }

  & p
  {
    font-size: 14px;
    color: #fff;
  }
}