@use '../App.scss';

.header
{
  margin: 0 auto;
  color: #fff;
  background-color: var(--color-primary);

  &__contact div
  {
    display: flex;
  }

  & p
  {
    font-size: 14px;
  }
}