@use '../App.scss';

.header
{
  margin: 0 auto;
  padding: 1rem 3rem;
  background-color: var(--color-primary);

  &__contact div
  {
    display: flex;
  }

  &__contact:last-of-type div
  {
    margin-left: 1rem;
  }

  & p
  {
    margin-left: .5rem;
    font-size: 14px;
    color: #fff;
  }
}